.h-100.bg-light
  .text-center.border-bottom.py-3.mb-5.bg-dark.fixed-top
    = render partial:"shared/menu"
    .h1.text-light
      設備管理システム
  
  .container.d-flex.px-5

    .border.ml-5{:style => "width: 100%;"}
      %ul.list-group
        %p.mx-5.h3
          設備一覧
        #nav-search.py-3.bg-white.border
          %p.mx-5.font-weight-bold 設備の検索
          .mx-5
            .input-group
              %input.form-control{:placeholder => "関連する設備があれば入力してください", :type => "text",:class => "form-control mb-5"}
              %span.input-group-btn
        - if @machines == []
          %p.text-center 設備が登録されておりません。
        - else
          - @machines.each do |machine|
            %li.list-group-item.border-left-0
              %p.d-inline-block.mr-3.ml-4
                = "id:#{machine.id}"
              = link_to "#{machine.name}", "/machines/#{machine.id}"
              
    

